In [2]:
import pandas as pd
import numpy as np
import datetime

In [25]:
data = pd.read_csv('0-9.csv', 
                   names=['end', 'val', 'accn', 'fy', 'fp', 'form', 'filed', 'frame', 'fn_name', 'cik', 'start'],
                  )

/tmp/ipykernel_220381/2455891875.py:1: DtypeWarning: Columns (1,3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('0-9.csv',

In [30]:
data = pd.read_csv('0-9.csv', 
                   names=['end', 'start', 'val', 'accn', 'fy', 'fp', 'form', 'filed', 'frame', 'fn_name', 'cik'],
                  )

/tmp/ipykernel_220381/3331140143.py:1: DtypeWarning: Columns (1,3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('0-9.csv',

In [31]:
data

,end,start,val,accn,fy,fp,form,filed,frame,fn_name,cik
0,2014-02-01,101276000.0,0000874214-15-000001,2014,FY,10-K,2015-03-13,CY2013Q4I,AccountsPayableCurrent,874214,NaN
1,2015-01-31,134031000.0,0000874214-15-000001,2014,FY,10-K,2015-03-13,NaN,AccountsPayableCurrent,874214,NaN
2,2013-02-02,105691000.0,0000874214-14-000008,2013,FY,10-K,2014-03-14,CY2012Q4I,AccountsPayableCurrent,874214,NaN
3,2014-02-01,101276000.0,0000874214-14-000008,2013,FY,10-K,2014-03-14,NaN,AccountsPayableCurrent,874214,NaN
4,2012-01-28,94157000.0,0000874214-13-000011,2012,FY,10-K,2013-03-08,CY2011Q4I,AccountsPayableCurrent,874214,NaN
...,...,...,...,...,...,...,...,...,...,...,...
905118,2012-09-30,576091498.0,0001188112-12-003634,2012,FY,10-K,2012-12-20,NaN,WeightedAverageNumberOfShareOutstandingBasicAn...,744452,2011-10-01
905119,2020-09-30,3919072.0,0001410578-21-000497,2021,FY,10-K,2021-12-09,NaN,WeightedAverageNumberOfSharesOutstandingBasic,744452,2019-10-01
905120,2021-09-30,6916999.0,0001410578-21-000497,2021,FY,10-K,2021-12-09,NaN,WeightedAverageNumberOfSharesOutstandingBasic,744452,2020-10-01
905121,2011-09-30,376833809.0,0001188112-12-003634,2012,FY,10-K,2012-12-20,CY2011,WeightedAverageNumberOfSharesOutstandingBasic,744452,2010-10-01
905122,2012-09-30,576091498.0,0001188112-12-003634,2012,FY,10-K,2012-12-20,CY2012,WeightedAverageNumberOfSharesOutstandingBasic,744452,2011-10-01

In [28]:
data[data.fp == '2010']

,end,val,accn,fy,fp,form,filed,frame,fn_name,cik,start
393557,2010-04-01,2011-03-31,2905000,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010,AccretionAmortizationOfDiscountsAndPremiumsInv...,1401106
393558,2010-04-01,2011-03-31,2905000,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010,AccretionAmortizationOfDiscountsAndPremiumsInv...,1401106
393559,2010-04-01,2011-03-31,2905000,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010,AccretionAmortizationOfDiscountsAndPremiumsInv...,1401106
393560,NaN,2010-03-31,-5752000,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010Q1I,AccumulatedOtherComprehensiveIncomeLossNetOfTax,1401106
393561,NaN,2011-03-31,3899000,0001193125-11-145663,2010,FY,10-K,2011-05-20,NaN,AccumulatedOtherComprehensiveIncomeLossNetOfTax,1401106
...,...,...,...,...,...,...,...,...,...,...,...
433795,2009-04-01,2010-03-31,123222780.0,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2009,WeightedAverageNumberOfDilutedSharesOutstanding,1401106
433796,2010-04-01,2011-03-31,154405951.0,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010,WeightedAverageNumberOfDilutedSharesOutstanding,1401106
433797,2008-04-01,2009-03-31,121183447.0,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2008,WeightedAverageNumberOfSharesOutstandingBasic,1401106
433798,2009-04-01,2010-03-31,123222780.0,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2009,WeightedAverageNumberOfSharesOutstandingBasic,1401106
433799,2010-04-01,2011-03-31,154405951.0,0001193125-11-145663,2010,FY,10-K,2011-05-20,CY2010,WeightedAverageNumberOfSharesOutstandingBasic,1401106

In [21]:
list_val.sort_values

<bound method Series.sort_values of 0         101276000.0
1         134031000.0
2         105691000.0
3         101276000.0
4          94157000.0
             ...
905118    576091498.0
905119      3919072.0
905120      6916999.0
905121    376833809.0
905122    576091498.0
Name: val, Length: 905123, dtype: object>

In [7]:
data.dtypes

end        object
val        object
accn       object
fy         object
fp         object
form       object
filed      object
frame      object
fn_name    object
cik        object
start      object
dtype: object