In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt                     
import json

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import extract_accn_and_form_type as s

In [6]:
CIK_file = 

with open(f'companyfacts/{CIK_file}') as datafile: 
        data_comp = json.load(datafile)


df_stock = pd.DataFrame()


for x, y in enumerate(c.data_comp['facts']['us-gaap']):
    
    df = c.data_comp['facts']['us-gaap'][y]['units']
    units = pd.Series(df.keys()).iloc[0]
    
    df = pd.DataFrame(c.data_comp['facts']['us-gaap'][y]['units'][units])
    
    for i in s.accn_list:
        match = df.loc[df['accn'] == i]

        match['fn_name'] = y

        df_stock = pd.concat([df_stock, match], ignore_index=True)

NameError: name 'i' is not defined

In [311]:
df_stock

,end,val,accn,fy,fp,form,filed,frame,fn_name,start
0,2021-05-31,127200000.0,0001104659-22-081498,2022,FY,10-K,2022-07-21,CY2021Q2I,AccountsPayableCurrent,NaN
1,2022-05-31,156400000.0,0001104659-22-081498,2022,FY,10-K,2022-07-21,CY2022Q2I,AccountsPayableCurrent,NaN
2,2020-05-31,191600000.0,0001104659-21-094125,2021,FY,10-K,2021-07-21,CY2020Q2I,AccountsPayableCurrent,NaN
3,2021-05-31,127200000.0,0001104659-21-094125,2021,FY,10-K,2021-07-21,NaN,AccountsPayableCurrent,NaN
4,2019-05-31,187800000.0,0001104659-20-085310,2020,FY,10-K,2020-07-21,CY2019Q2I,AccountsPayableCurrent,NaN
...,...,...,...,...,...,...,...,...,...,...
5619,2011-05-31,38355000.0,0001047469-12-007300,2012,FY,10-K,2012-07-19,NaN,WeightedAverageNumberOfSharesOutstandingBasic,2010-06-01
5620,2012-05-31,38814000.0,0001047469-12-007300,2012,FY,10-K,2012-07-19,NaN,WeightedAverageNumberOfSharesOutstandingBasic,2011-06-01
5621,2020-05-31,1500000.0,0001104659-22-081498,2022,FY,10-K,2022-07-21,CY2019,PensionExpenseReversalOfExpenseNoncash,2019-06-01
5622,2021-05-31,900000.0,0001104659-22-081498,2022,FY,10-K,2022-07-21,CY2020,PensionExpenseReversalOfExpenseNoncash,2020-06-01
5623,2022-05-31,1400000.0,0001104659-22-081498,2022,FY,10-K,2022-07-21,CY2021,PensionExpenseReversalOfExpenseNoncash,2021-06-01